.modal-window{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px;
    padding: 20px;
}
.x{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

